:host {
  margin: 0;
  padding: 0;//1.5rem;
  height: 50px;

  .form {
    background-color: lightgray;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 3.3rem;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
}
