:host {
  .search {
    //background-color: white;
    margin: 0 0.5rem;
    padding: 1.5rem;

    .input-group-addon {
      background-color: transparent !important;
      box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
    }

    //input {
    //  border-left:none !important;
    //  box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
    //}
  }
  li {
    position: relative;
    margin: 0 0.5rem;
    padding: 1.5rem;
  }
}
